/* removes border from burger menu */
.custom-toggler {
    border: none;
}

/* makes the menu larger and white */
.custom-menu-style {
    font-size: 30px;
    color: #fff;
}

/* When screen is at medium breakpoint or less, underlines the nav items in mobile view */
@media (max-width: 768.98px) {
    .custom-underline::after {
        content: "";
        display: block;
        width: 25%;
        height: 1px;
        background-color: #fff;
        margin: 0 0 0 auto;
    }
}